<div class="navbar">
  <!-- Use any element to open the sidenav -->
  <span ng-click="openNav()"><a href=""><i class="material-icons md-64">menu</i></a></span>
  <img class="logo" src="../assets/jumplogo.png" alt="" />
  <img class="logoTitle" src="../assets/logo_black.png" alt="" />
</div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
  <a class="topMenu" href="#">Activities</a>
  <a class="topMenu" href="#">Pricing</a>
  <a class="topMenu" href="#">Parties</a>
  <a class="topMenu" href="#">Waiver</a>
  <a class="topMenu" href="#">Contact</a>
</div>
