.navbar {
  height: 160px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.logoTitle {
  height: 120px;
  width: auto;
  line-height: 160px;
}

.logo {
  margin-left: 40px;
}

.material-icons.md-64 {
  margin-left: 40px;
  font-size: 64px;
  color: #000;
 }

.side-nav .menuLink {
  font-size: 40px;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 30px;
}

.side-nav {
  background-color: #343434;
}

.divider {
  background-color: #5e5b5b;
}
