.navbar {
  height: 160px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.logoTitle {
  height: 120px;
  width: auto;
  line-height: 160px;
}

.logo {
  margin-left: 40px;
}

.material-icons.md-64 {
  margin-left: 40px;
  font-size: 64px;
  color: #000;
 }

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
    opacity: 0.9;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 65px;
    color: #dedede;
    display: block;
    transition: 0.3s;
}

.topMenu {
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 80px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

.topMenu {
  margin-top: 50px;
}
