.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  background-color: #F6F8F8;
  border-radius: 5px;
  width: 800px;
  border: 1px solid #dedede;
  text-align: center;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 50px;
}

.birthdayImage {
}

.birthdayImage img {
  width: 100%;
  height: auto;
}

ul {
  font-size: 40px;
}
